{% from "includes/_formhelpers.html" import render_field %}
<form method=post action="{{ url_for('register') }}">
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.login) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    {{ render_field(form.firstname) }}
    {{ render_field(form.secondname) }}
    {{ render_field(form.bday) }}
    {{ render_field(form.sex) }}
    {{ render_field(form.hobbys) }}
    {{ render_field(form.social_link) }}
  </dl>
  <p><input type=submit value=Register>
</form>